
.error {
  display: flex;
  padding: 50px 0 50px 50px;
  height: 58.2vh;
}

.error div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #545454;
  margin: auto auto auto 0;
  width:90%;
  margin: auto;
  text-align: center;
}

.error div h1 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
  font-weight: 800;
}

.error div p {
  margin: auto;
  width: 70%;
  font-size: 20px;
  line-height: 30px;
}

.error img {
  width: 40%;
  margin: auto 0 auto 50px;
  border-radius: 20px 0 0 20px;
  min-width: 310px;
  max-height: 55vh;
  object-fit: cover;
}

@media (max-width: 1050px) {
  .error {
    align-items: center;
    justify-content: center;
    padding: 50px 0;
  }
  .error img {
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    object-fit: cover;
  }
  .error div {
    margin: auto;
    text-align: center;
  }
  .error div p {
    width: 80%;
    margin: auto;
  }
}