footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #E03F13;
  color: white;
  font-weight: 300;
  padding: 20px 50px;
}

footer ul {
  list-style: none;
  line-height: 25px;
}

footer ul h3{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

footer >div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

footer img {
  width: 60px;
  padding: 10px;
  box-sizing: border-box;
}

 